@media screen and (min-width:1024px){
    /*body*/
    .content{
        font-size: 28px;
    }
    .fa {
        width: 25px;
        height: 20px;
    }
    /*header*/
    .burger{
        display: none;
    }
    .logo{
        right: 450px;
        top: 20px;
        width: 50px;
    }
    /*nav*/
    .nav{
        background-color: lightgray;
    }

    .main-nav{
        width: 75%;
        nav-left: auto;
        position: static;
        display:flex;
        flex-direction: row;
        max-width: 1024px;
        margin: 0 auto;
        justify-content: space-between;
    }
    .nav-item{
        text-align: center;
    }
    /*main*/
    /*footer*/
    .footer-map{
        width: 400px;
        height: 300px
    }
}