@media screen and (min-width:600px) and (max-width:1024px){
    /*body*/
    /*header*/
    .burger{
        display: none;
    }
    /*nav*/
    .main-nav{
        display:flex;
        flex-direction: row;
        max-width: 900px;
        padding: 10px;
        margin: 0 auto;
        justify-content: space-between;
    }
    /*main*/
    /*footer*/
}