@media screen and (min-width:600px) and (max-width:1024px){
    /*body*/
    .content{
        font-size: 20px;
    }
    .fa{
        width: 20px;
        height: 15px;
    }
    /*header*/
    .burger{
        display: none;
    }
    .logo{
        right: 310px;
        top: 12px;
        width: 40px;
    }
    /*nav*/
    .nav{
        background-color: lightgray;
    }
    .main-nav{
        width: 75%;
        nav-left: auto;
        position: static;
        display:flex;
        flex-direction: row;
        max-width: 1024px;
        margin: 0 auto;
        justify-content: space-between;
    }
    .nav-item{
        text-align: center;
    }
    /*main*/
    /*footer*/
    .footer-map{
        width: 300px;
        height: 200px;
    }
}