@media screen and (min-width:600px) and (max-width:1024px){
    /*body*/
    /*header*/
    .burger{
        display: none;
    }
    /*nav*/
    .nav{
        background-color: lightgray;
    }
    .main-nav{
        width: 75%;
        nav-left: auto;
        position: static;
        display:flex;
        flex-direction: row;
        max-width: 900px;
        margin: 0 auto;
        justify-content: space-between;
    }
    .nav-item{
        text-align: center;
    }
    /*main*/
    /*footer*/
}