@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap');
@media screen and (min-width: 1025px)
{
    .header, .footer, .footer a, .footer a:visited, .main-nav a{
        color:black;
    }
    nav, .footer {
        background-color: #518260;
    }
    .content{
        max-width: 75%;
        margin: 0 auto;
    }
    .header{
        width: 100%;
        background-color: lightgray;
        padding: 20px;
        box-sizing:border-box;
    }
    .header-logo{
        width: auto;
        right: 580px;
        top: 5px;
    }
    .title{
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 50px;
    }
    .motto{
        font-size: 24px;
        text-align: center;
        margin-right: 120px;
        opacity: 76%;
    }
    .burger{
        display:none;
    }
    .dropdown{
        display:none;
    }
    .navbar{
        display:flex;
        background-color: #518260;
        width: 100%;
        flex: auto;
    }
    .nav-links{
        position: static;
        flex-direction: row;
        display:flex;
        flex: auto;
        align-items: stretch;
        justify-content: space-between;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .nav-item{
        display: flex;
        flex: 1;
        list-style-type: none;
    }
    .nav-item a{
        flex: auto;
        text-align: center;
        padding: 20px;
        font-size: 21px;
        font-family: 'Noto Sans Display', sans-serif;
        color: Black;
        text-decoration: none;
    }
    .nav-item a:hover{
        color: gray;
        background-color: #2C2F2D;
    }
    .footer {
        margin: auto;
        text-align: center;
        font-size: 16px;
        padding:5px;
        color:Black;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    }
    .footer a:hover{
        color:aliceblue;
    }
}