@media screen and (min-width: 1025px){
    label, input, select{
        font-size: 24px;
    }
    form{
        width: 100%;
    }
    legend{
        font-size: 32px;
    }
    #submit-storm{
        width: 300px;
    }
}