label, input, select{
    display:block;
    padding: 5px;
    width: fit-content;
    margin-right: 100%;
}
fieldset{
    padding: 15px;
    border: 3px solid #518260;
}
fieldset:first-child, fieldset:nth-child(2){
    margin-bottom: 15px;
}
form{
    text-align: left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: lightgray;
    padding: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
textarea{
    width: 300px;
    height: 150px;
}
.severity-div{
    display: flex;
    align-items: center;
}
#severity{
    margin-left: -65px;
}
#submit-storm{
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    width: 300px;
}
.in-danger label{
    margin-right:100%;
    width:fit-content;
    display:flex;
    justify-content: space-between;
}
.in-danger label input{
    margin-right: 4px;
    margin-top: 2px;
}
input:hover, [list]:hover, select:hover, textarea:hover{
    outline:none;
    border: 2px solid rgb(38, 117, 206);
    box-shadow:1px 1px 5px rgb(38, 117, 206);
}
[type="range"]{
    color: #518260;
}
[type="range"]:hover{
    border: none;
    box-shadow: none;
}
[type="radio"]:hover{
    box-shadow: none;
    cursor:pointer;
}
[type="radio"], [type="range"], [type="date"]:hover, select, #submit-storm:hover{
    cursor: pointer;
}