@media screen and (min-width: 600px) and (max-width: 1024px){
        nav, .footer {
            background-color: #518260;
        }
        .content{
            max-width: 75%;
            margin: 0 auto;
        }
        .header-logo{
            width: auto;
            right: 400px;
            top: 5px;
        }
        .title{
            font-size: 32px;
        }
        .motto{
            font-size: 18px;
            text-align: center;
            margin-right: 90px;
        }
        .burger{
            display:none;
        }
        .dropdown{
            display:none;
        }
        .navbar{
            display:flex;
            background-color: #518260;
            width: 100%;
            flex: auto;
        }
        .nav-links{
            flex-direction: row;
            display:flex;
            flex: auto;
            align-items: stretch;
            justify-content: space-between;
            width: 100%;
            margin: 0;
            padding: 0;
        }
        .hero-image{
            background-image: url('http://placehold.jp/400x150.png');
            width: 400px;
            height: 150px;
        }
}