@media screen and (min-width: 600px) and (max-width: 1024px){
    body{
        font-size: 18px;
    }
    nav{
        background-color: #518260;
    }
    .header-logo{
        right: 300px;
    }
    .content{
        margin: 0 auto;
        max-width:1024px;
        min-width: 600px;
    }
    .burger{
        display:none;
    }
    .dropdown{
        display:none;
    }
    .navbar{
        display:flex;
        background-color: #518260;
        width: 100%;
        flex: auto;
    }
    .nav-links{
        flex-direction: row;
        display:flex;
        flex: auto;
        align-items: stretch;
        justify-content: space-between;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .hero-text{
        font-size: .8em;
        position: absolute;
        right: 0;
        left: 10px;
        top: 260px;
        bottom: 0;
        height: fit-content;
        width: fit-content;
        background-color: #05569d;
        opacity: 85%;
        box-shadow: 1px 2px 4px 1px white;
    }
    .hero-text h3{
        color: white;
    }
    .hero-text:hover{
        box-shadow: 2px 3px 5px white;
        opacity: 100%;
    }
    .hero-text h2{
        margin-bottom: 8px;
    }
    #for-smalls{
        display: none;
    }
    .map-container{
        padding-top: 50px;
        padding-left: 25%;
    }
    .background-image{
        background-repeat: no-repeat;
        background-size:cover;
        background-position: bottom;
        padding: 30px;
        height: 300px;
        text-align: left;   
    }
    .preston-background-image{
        background-image: url("../images/preston-hero-image.jpg");
        
    }
    .sodasprings-background-image{
        background-image: url("../images/sodasprings-hero-image.jpg");
    }
    .fishhaven-background-image{
        background-image: url("../images/fishhaven-hero-image.jpg")
    }
    #small-overlay, #large-overlay{
        display: none;
    }
    #medium-overlay{
        display: block;
        float: right;
        color: red;
        font-size: 1.8em;
        margin-right: 25px;
        margin-top: 25px;
    }
    #weather-gallery{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    .contact-information{
        grid-template-columns: 1fr 1fr;
    }
    .social{
        justify-content: space-between;
    }
    .ci-text{
        grid-column: 2/3;
        grid-row: 1/3;
    }
    .map-container{
        grid-column: 1/2;
        grid-row:1/4;
    }
    /*Storm Center*/
    #submit-storm{
        width: 250px;
    }
    /*home*/
    .home-hero{
        background:url("../images/home-hero-image.jpeg");
        width: 100%;
        height: 300px;
        aspect-ratio: 5/3.3;
        background-size: cover;
        background-position: center;
        margin: 0 auto;
        margin-bottom: 20px;
        box-shadow: 0 1px 5px 1px #2C2F2D;
    }
    .home-hero:hover{
        box-shadow:1px 2px 5px 1px#2C2F2D;
    }
    .home-hero h3{
        z-index: 1;
    }
    .home-hero img{
        display: none;
    }
    .local-events{
        font-size: 16px;
    }
    .towns section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        width: 100%;
        max-width: 975px;
    }
    .towns section:nth-child(odd) img, .towns section:nth-child(even) p, .towns section:nth-child(even) h2, .towns section:nth-child(even) h3{
        grid-column: 2/2;
    }
    .towns section:nth-child(even) img, .towns section:nth-child(odd) p, .towns section:nth-child(odd) h2, .towns section:nth-child(odd) h3{
        grid-column: 1/2;
    }
    .towns section:nth-child(odd){
        padding-right: 15px;
    }
    .towns section:nth-child(even){
        padding-left: 15px;
    }
    .towns img{
    grid-row: 2/5;
    }
}