* {
    box-sizing: border-box;
    padding: 0;
    font-family: 'Noto Sans Display'
}

#banner {
    display: none;
    align-items: center;
    flex: 0 auto;
    padding: 20px;
    z-index: 1;
    position: fixed;
    text-align: center;
    color: #518260;
    background-color: #2C2F2D;
    width: 100%;
    left: 50%;
    transform: translate(-50%,0)
}

#banner h1 {
    margin: 0 auto;
    text-shadow: none
}

.close {
    margin: 0 auto;
    padding: 10px;
    background-color: #518260;
    border-radius: 30px
}

.close:hover {
    cursor: pointer
}

.header,.footer,a {
    color: #000
}

.content {
    max-width: 600px;
    min-width: fit-content;
    padding-top: 15px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff
}

.header {
    margin: 0 auto;
    display: flex;
    width: 100%;
    min-width: fit-content;
    background-color: lightgray;
    padding: 15px
}

.header-logo {
    position: absolute;
    margin: 0 auto;
    top: 0;
    right: 230px;
    left: 0;
    width: 12%;
    min-width: 60px;
    max-width: 80px
}

#title-box {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: -13px
}

.title {
    text-shadow: none;
    margin-bottom: -15px;
    text-align: center;
    margin-top: -5px;
    font-family: 'Lucida Sans','Lucida Sans Regular','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,sans-serif;
    font-size: 1.2em
}

.motto {
    margin-top: 2px;
    font-size: .9em;
    font-style: italic;
    text-align: center;
    opacity: 76%
}

nav {
    padding: 0;
    margin: 0 auto
}

.navbar {
    display: none
}

.burger {
    position: absolute;
    margin: 0 auto;
    left: 190px;
    right: 0;
    cursor: pointer;
    width: fit-content
}

.burger:hover {
    cursor: pointer
}

.burger a {
    text-decoration: none;
    color: #000;
    font-size: 1.5em
}

.burger a:hover {
    color: #000;
    background-color: lightgray
}

.dropdown {
    display: flex;
    padding: 0
}

#dropdown-links {
    padding: 0;
    margin: 0;
    display: none;
    background-color: #518260;
    flex-direction: column;
    flex: auto;
    align-items: stretch;
    justify-content: space-between;
    max-width: 100%;
    transition: all .5s ease-in-out
}

.nav-links {
    display: none
}

.nav-item {
    padding: 0;
    margin: 0;
    display: flex;
    flex: 1;
    list-style-type: none
}

.nav-item a {
    flex: auto;
    text-align: center;
    padding: 20px;
    font-size: 1em;
    font-family: 'Noto Sans Display',sans-serif;
    color: #000
}

.nav-item a:hover {
    background-color: #2C2F2D;
    outline: #2C2F2D solid
}

a {
    text-decoration: none
}

.active {
    text-decoration: underline 10px;
    text-underline-offset: .2em;
    font-weight: 700
}

a:hover {
    background-color: #2C2F2D;
    color: lightgray
}

.footer {
    width: 100%;
    background-color: lightgray;
    box-shadow: 0 2px 5px 1px #2C2F2D;
    margin: auto;
    text-align: center;
    font-size: .9em;
    padding: 5px
}

.footer a:hover {
    background-color: #2C2F2D
}

body {
    font-size: 14px;
    background-color: gray
}

h1 {
    font-family: 'Lucida Sans','Lucida Sans Regular','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,sans-serif;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.5em;
    text-shadow: 3px 3px 7px #2C2F2D
}

h2 {
    font-family: 'Roboto';
    font-size: 1.3em;
    font-weight: 700
}

h3 {
    font-family: 'Roboto';
    font-size: 1.2em;
    font-weight: 700
}

h4 {
    font-family: 'Roboto';
    font-size: 1.1em
}

p {
    font-size: 1em
}

#hero-image img:hover,.five-day-forecast:hover,.article:hover {
    box-shadow: 1px 2px 5px 1px #2C2F2D
}

.five-day-forecast h2,.hero-text h2,.local-events h2,.wireframe h2,.article h2 {
    background-color: #518260;
    padding: 15px;
    border-radius: 10px 10px 0 0;
    margin: 0 auto;
    text-align: left
}

.social {
    display: flex;
    width: 75%;
    justify-content: space-around
}

.social img:hover {
    box-shadow: 0 1px 4px 1px #2C2F2D
}

i.fa {
    display: inline;
    width: .8em;
    font-size: .8em;
    padding-right: 5px
}

.contact-information {
    display: grid;
    text-align: left;
    grid-template-columns: 1fr;
    width: 100%;
    box-shadow: 0 2px 5px 2px #2C2F2D;
    background-color: #518260;
    padding-top: 15px;
    padding-bottom: 15px
}

.ci-text {
    width: fit-content;
    padding-left: 15px
}

.ci-p {
    margin-top: 5px
}

#ci-p1 {
    margin-top: 10px
}

.map-container {
    padding: 15px;
    height: 100%;
    width: 100%;
    text-align: left
}

#map {
    width: 80%;
    height: 80%;
    box-shadow: 0 1px 2px #2C2F2D;
    min-width: 3px;
    min-height: 1px;
    max-width: 300px;
    max-height: 200px
}

#map:hover {
    box-shadow: 0 2px 5px #333
}

.towns {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 1100px
}

.towns section {
    margin: 0 auto;
    background-color: #518260;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 250px;
    height: 416px;
    padding-bottom: 25px;
    box-shadow: 0 1px 4px 1px #2C2F2D;
    border-radius: 10px
}

.towns p,.towns h2,.towns h3 {
    width: fit-content;
    margin: 0 auto
}

.towns p {
    line-height: 3em
}

.towns h2 {
    padding-top: 15px
}

.towns h3 {
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px
}

.towns img {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 350px;
    aspect-ratio: 5/3;
    object-fit: contain
}

.towns section:last-child {
    margin-bottom: 20px
}

.towns section:hover {
    box-shadow: 1px 2px 5px 1px #2C2F2D
}

.home-hero {
    display: flex;
    flex-direction: column;
    max-width: 1070px;
    margin-top: 14px;
    margin-bottom: 14px;
    border-radius: 10px;
    min-height: 300px;
    max-height: 400px;
    height: 100%
}

.home-hero img {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-height: 300px;
    max-width: 492px;
    box-shadow: 0 1px 4px 1px #2C2F2D;
    border-radius: 10px;
    aspect-ratio: 3/2
}

.home-hero img:hover {
    box-shadow: 1px 2px 5px 1px #2C2F2D
}

.wireframes {
    padding: 15px;
    display: grid;
    gap: 15px
}

.wireframe {
    width: 100%;
    height: 800px;
    box-shadow: 0 1px 4px 1px #2C2F2D;
    border-radius: 10px
}

.wireframe img {
    width: 100%;
    object-fit: contain
}

.wireframe:hover {
    box-shadow: 1px 2px 5px 1px #2C2F2D
}

.weather-summary {
    padding: 2px
}

.hero-text {
    box-shadow: 1px 1px 5px 1px #2C2F2D;
    font-size: 1em;
    background: lightgray;
    color: #000;
    border-radius: 10px
}

#hero-image img {
    box-shadow: 0 1px 4px 1px #2C2F2D;
    border-radius: 10px;
    margin-bottom: 15px
}

.hero-text h2 {
    text-align: left;
    background-color: #518260;
    padding: 15px
}

#desc {
    text-transform: capitalize
}

.hero-text h3 {
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 400;
    font-size: 1em
}

.text-box-small {
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 15px
}

#hero-image img {
    width: 100%
}

.five-day-forecast {
    border-radius: 10px;
    box-shadow: 0 1px 5px 1px #2C2F2D;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 15px;
    max-width: 800px;
    background-color: lightgray
}

.five-day-forecast h2,.local-events h2 {
    background-color: #518260;
    padding: 15px;
    border-radius: 10px 10px 0 0
}

.f-forecast {
    display: flex;
    justify-content: space-around;
    font-size: 1em
}

.day {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px
}

.day span {
    font-weight: 700;
    font-size: 1em
}

.article {
    border-radius: 10px;
    box-shadow: 0 1px 5px 1px #2C2F2D;
    background-color: lightgray;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 15px
}

.article-text {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px
}

.article p,.article h3 {
    text-align: left
}

.article h3,.article h4 {
    padding-left: 15px;
    width: fit-content
}

.article a {
    text-decoration: underline
}

#article-img1 {
    display: block;
    width: 80%;
    height: 100%;
    max-width: 250px;
    aspect-ratio: 5/3
}

.article h3 {
    font-style: italic
}

#weather-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: 0 auto
}

figure {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    margin-bottom: 15px;
    box-shadow: 0 1px 5px 1px #2C2F2D;
    width: 300px;
    height: 244.47px;
    margin: 20px;
    border-radius: 10px
}

.label {
    font-family: 'Gill Sans','Gill Sans MT',Calibri,'Trebuchet MS',sans-serif;
    font-size: .9em;
    margin: 15px 5px 0 5px
}

figure img {
    border-radius: 10px 10px 0 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain
}

label,input,select,#in-danger-div {
    display: block;
    padding: 15px;
    width: 100%;
    font-size: .9em;
    font-weight: 400
}

legend {
    font-size: 1em;
    font-weight: 700
}

fieldset {
    padding: 15px;
    border: 3px solid #518260
}

fieldset:first-child,fieldset:nth-child(2) {
    margin-bottom: 15px
}

form {
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    text-align: left;
    font-family: 'Gill Sans','Gill Sans MT',Calibri,'Trebuchet MS',sans-serif;
    background-color: lightgray;
    padding: 5px;
    margin-bottom: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 1px 4px 1px #2C2F2D
}

form:hover {
    box-shadow: 1px 2px 5px 1px #2C2F2D
}

textarea {
    display: block;
    width: 100%;
    height: 150px
}

.severity-div {
    display: flex;
    align-items: center
}

#submit-storm {
    margin-left: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    width: 200px
}

#in-danger-div label {
    display: flex;
    width: fit-content;
    justify-content: space-between
}

#in-danger-div label input {
    width: fit-content;
    margin-right: 4px;
    margin-top: 2px
}

input:hover,[list]:hover,select:hover,textarea:hover,textarea:focus,input:focus,select:focus {
    outline: none;
    border: 2px solid rgb(38,117,206);
    box-shadow: 1px 1px 5px rgb(38,117,206)
}

[type="range"] {
    color: #518260
}

[type="range"]:hover,[type="radio"]:hover,[type="radio"]:focus,[type="range"]:focus {
    border: none;
    box-shadow: none
}

[type="radio"],[type="range"],[type="date"]:hover,select,#submit-storm:hover {
    cursor: pointer
}

.local-events {
    border-radius: 10px;
    margin: 0 auto;
    text-align: left;
    background-color: lightgray;
    box-shadow: 0 1px 4px 1px #2C2F2D;
    max-width: 500px;
    width: 100%
}

.local-events div {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px
}

.local-events h3 {
    font-weight: 400
}

.local-events:hover {
    box-shadow: 1px 2px 5px 1px #2C2F2D
}
