body {
    margin: auto;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.content,.header {
    max-width:1400px;
    margin:  auto;
}
.header {
    background-color:lightgray;
    margin-bottom:-20px;
    padding-bottom: 15px;
    padding-top: 5px;
    text-align: center;
}
.logo {
    float: left;
    margin-left: 75px;
    margin-right:-145px;
}
.topNav, footer{
    background-color:#518260;
}

.topNav{
    text-align: center;
}
.topNav nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    border-left: 2px white;
}
.topNav ul li{
    padding: 15px;
}
.topNav ul li:hover {
    background-color:#2C2F2D;
}
h1 {
    font-size: 50px;
    color:#444444;
}
.topNav ul li a{
    padding: 18px;
    font-size: 48px;
    color: #444444;
    text-decoration: none;
}
.topNav ul li a:hover{
    color: gray;
}
main{
    text-align: left;
}
main p{
    color:#518260;
    font-size: 24px;
}
main h2{
    color: #444444;
    font-size: 34px;
}
footer {   
    padding: 5px;
    color:#444444;
}
footer p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
footer a{
    color: #444444;
}
footer a:visited{
    color:bisque;
}
footer a:hover{
    color:aliceblue;
}
