body {
    margin: auto;
    text-align: center;
    background-color:#94948C;
    align-items: center;
}
.content {
    max-width:1400px;
    margin:  auto;
    background-color:#B89B7F;
}
img {
    float: left;
}
.topNav {
    width: 100%;
    background-color: #36291F;
}

.topNav{
    padding: 2px;
}
nav ul {
    display: flex;
    text-align: center;
}
.topNav ul li{
    margin-left: 40px;
    display: inline-block;
    padding: 15px;
}
.topNav ul li:hover {
    background-color:blanchedalmond;
}
h1 {
    font-size: 60px;
    color:#36291F;
}
.topNav ul li a{
    font-size: 48px;
    color: #B89B7F;
    text-decoration: none;
    list-style: none;
}
.topNav ul li a:hover{
    color: gray;
}
main p {
    color:#36291F;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size:larger;
}
footer {   
    padding: 5px;
    color:#B89B7F;
    background-color: #36291F;
}
footer p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
footer a{
    color: #B89B7F;
}
footer a:visited{
    color:bisque;
}
footer a:hover{
    color:aliceblue;
}
