body {
    width: 960px;
    margin: auto;
    text-align: center;
    background-color:#94948C;
    align-items: center;
}
.content {
    margin:  auto;
    background-color:#B89B7F;
}
img {
    float: left;
}
header {
    width: 100%;
    display: inline-flex;
    background-color: #36291F;
}
header ul {
    text-align: center;
}
header ul li{
    margin-left: 40px;
    display: inline-block;
    padding: 15px;
}
header ul li:hover {
    background-color:blanchedalmond;
}
header ul li a{
    font-size: 28px;
    width: 20%;
    color: #B89B7F;
    text-decoration: none;
    list-style: none;
}
header ul li a:hover{
    color: gray;
}
main p {
    color:#36291F;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size:larger;
}
footer {   
    padding: 5px;
    color:#B89B7F;
    background-color: #36291F;
}
footer p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
footer a{
    color: #B89B7F;
}
footer a:visited{
    color:bisque;
}
footer a:hover{
    color:aliceblue;
}
